NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

NEXT_PUBLIC_STRIPE_EXTRA_UPLOAD_URL=
NEXT_PUBLIC_STRIPE_FEATURED_7_URL=
NEXT_PUBLIC_STRIPE_FEATURED_30_URL=

# Optional comma-separated extra admin emails
NEXT_PUBLIC_ADMIN_EMAILS=
